<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>total_rank</th>
      <th>form</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Kane</th>
      <td>Spurs</td>
      <td>Forward</td>
      <td>16.106195</td>
      <td>194.699295</td>
      <td>11.3</td>
      <td>1.0</td>
      <td>6.2</td>
    </tr>
    <tr>
      <th>Bamford</th>
      <td>Leeds</td>
      <td>Forward</td>
      <td>21.176471</td>
      <td>136.997887</td>
      <td>6.8</td>
      <td>2.0</td>
      <td>2.8</td>
    </tr>
    <tr>
      <th>Vardy</th>
      <td>Leicester</td>
      <td>Forward</td>
      <td>13.137255</td>
      <td>180.287763</td>
      <td>10.2</td>
      <td>3.0</td>
      <td>3.4</td>
    </tr>
    <tr>
      <th>Calvert-Lewin</th>
      <td>Everton</td>
      <td>Forward</td>
      <td>16.883117</td>
      <td>134.155875</td>
      <td>7.7</td>
      <td>4.0</td>
      <td>1.7</td>
    </tr>
    <tr>
      <th>Watkins</th>
      <td>Aston Villa</td>
      <td>Forward</td>
      <td>17.121212</td>
      <td>116.282661</td>
      <td>6.6</td>
      <td>5.0</td>
      <td>2.6</td>
    </tr>
    <tr>
      <th>Richarlison</th>
      <td>Everton</td>
      <td>Forward</td>
      <td>11.500000</td>
      <td>95.967345</td>
      <td>8.0</td>
      <td>6.0</td>
      <td>5.7</td>
    </tr>
    <tr>
      <th>Adams</th>
      <td>Southampton</td>
      <td>Forward</td>
      <td>17.241379</td>
      <td>76.595123</td>
      <td>5.8</td>
      <td>7.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>Firmino</th>
      <td>Liverpool</td>
      <td>Forward</td>
      <td>11.086957</td>
      <td>124.997876</td>
      <td>9.2</td>
      <td>8.0</td>
      <td>2.8</td>
    </tr>
    <tr>
      <th>Wilson</th>
      <td>Newcastle</td>
      <td>Forward</td>
      <td>17.846154</td>
      <td>111.520001</td>
      <td>6.5</td>
      <td>9.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>Ings</th>
      <td>Southampton</td>
      <td>Forward</td>
      <td>11.309524</td>
      <td>118.279133</td>
      <td>8.4</td>
      <td>10.0</td>
      <td>2.3</td>
    </tr>
    <tr>
      <th>Maupay</th>
      <td>Brighton</td>
      <td>Forward</td>
      <td>14.262295</td>
      <td>81.848050</td>
      <td>6.1</td>
      <td>11.0</td>
      <td>2.8</td>
    </tr>
    <tr>
      <th>Werner</th>
      <td>Chelsea</td>
      <td>Forward</td>
      <td>10.869565</td>
      <td>104.701917</td>
      <td>9.2</td>
      <td>12.0</td>
      <td>2.6</td>
    </tr>
    <tr>
      <th>Antonio</th>
      <td>West Ham</td>
      <td>Forward</td>
      <td>12.121212</td>
      <td>70.190451</td>
      <td>6.6</td>
      <td>13.0</td>
      <td>3.8</td>
    </tr>
    <tr>
      <th>Lacazette</th>
      <td>Arsenal</td>
      <td>Forward</td>
      <td>11.111111</td>
      <td>91.823818</td>
      <td>8.1</td>
      <td>14.0</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Jesus</th>
      <td>Man City</td>
      <td>Forward</td>
      <td>8.913043</td>
      <td>93.890200</td>
      <td>9.2</td>
      <td>15.0</td>
      <td>3.4</td>
    </tr>
    <tr>
      <th>Benteke</th>
      <td>Crystal Palace</td>
      <td>Forward</td>
      <td>11.272727</td>
      <td>59.831986</td>
      <td>5.5</td>
      <td>16.0</td>
      <td>4.2</td>
    </tr>
    <tr>
      <th>McGoldrick</th>
      <td>Sheffield Utd</td>
      <td>Forward</td>
      <td>13.461538</td>
      <td>68.296214</td>
      <td>5.2</td>
      <td>17.0</td>
      <td>1.8</td>
    </tr>
    <tr>
      <th>Wood</th>
      <td>Burnley</td>
      <td>Forward</td>
      <td>12.096774</td>
      <td>76.153043</td>
      <td>6.2</td>
      <td>18.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>Decordova-Reid</th>
      <td>Fulham</td>
      <td>Forward</td>
      <td>12.830189</td>
      <td>68.139496</td>
      <td>5.3</td>
      <td>19.0</td>
      <td>1.5</td>
    </tr>
    <tr>
      <th>Martial</th>
      <td>Man Utd</td>
      <td>Forward</td>
      <td>8.720930</td>
      <td>84.506282</td>
      <td>8.6</td>
      <td>20.0</td>
      <td>2.0</td>
    </tr>
  </tbody>
</table>