<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>second_name</th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>total_rank</th>
      <th>form</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>33</th>
      <td>Martínez</td>
      <td>Aston Villa</td>
      <td>Goalkeeper</td>
      <td>28.113208</td>
      <td>135.120366</td>
      <td>5.3</td>
      <td>1.0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Pope</td>
      <td>Burnley</td>
      <td>Goalkeeper</td>
      <td>22.500000</td>
      <td>123.875521</td>
      <td>5.6</td>
      <td>2.0</td>
      <td>3.7</td>
    </tr>
    <tr>
      <th>646</th>
      <td>dos Santos Patrício</td>
      <td>Wolves</td>
      <td>Goalkeeper</td>
      <td>19.056604</td>
      <td>101.968410</td>
      <td>5.3</td>
      <td>3.0</td>
      <td>5.3</td>
    </tr>
    <tr>
      <th>543</th>
      <td>Lloris</td>
      <td>Spurs</td>
      <td>Goalkeeper</td>
      <td>19.642857</td>
      <td>111.209420</td>
      <td>5.6</td>
      <td>4.0</td>
      <td>4.2</td>
    </tr>
    <tr>
      <th>382</th>
      <td>Santana de Moraes</td>
      <td>Man City</td>
      <td>Goalkeeper</td>
      <td>19.508197</td>
      <td>123.926975</td>
      <td>6.1</td>
      <td>5.0</td>
      <td>3.2</td>
    </tr>
    <tr>
      <th>323</th>
      <td>Meslier</td>
      <td>Leeds</td>
      <td>Goalkeeper</td>
      <td>22.173913</td>
      <td>100.292185</td>
      <td>4.6</td>
      <td>6.0</td>
      <td>3.8</td>
    </tr>
    <tr>
      <th>261</th>
      <td>Areola</td>
      <td>Fulham</td>
      <td>Goalkeeper</td>
      <td>22.000000</td>
      <td>94.659132</td>
      <td>4.5</td>
      <td>7.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Guaita</td>
      <td>Crystal Palace</td>
      <td>Goalkeeper</td>
      <td>20.208333</td>
      <td>96.809846</td>
      <td>4.8</td>
      <td>8.0</td>
      <td>3.7</td>
    </tr>
    <tr>
      <th>271</th>
      <td>Schmeichel</td>
      <td>Leicester</td>
      <td>Goalkeeper</td>
      <td>19.636364</td>
      <td>108.535949</td>
      <td>5.5</td>
      <td>9.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Mendy</td>
      <td>Chelsea</td>
      <td>Goalkeeper</td>
      <td>19.215686</td>
      <td>95.384085</td>
      <td>5.1</td>
      <td>10.0</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>589</th>
      <td>Johnstone</td>
      <td>West Brom</td>
      <td>Goalkeeper</td>
      <td>18.888889</td>
      <td>87.237461</td>
      <td>4.5</td>
      <td>11.0</td>
      <td>4.2</td>
    </tr>
    <tr>
      <th>615</th>
      <td>Fabianski</td>
      <td>West Ham</td>
      <td>Goalkeeper</td>
      <td>19.800000</td>
      <td>95.719099</td>
      <td>5.0</td>
      <td>12.0</td>
      <td>3.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Leno</td>
      <td>Arsenal</td>
      <td>Goalkeeper</td>
      <td>19.800000</td>
      <td>99.261514</td>
      <td>5.0</td>
      <td>13.0</td>
      <td>2.2</td>
    </tr>
    <tr>
      <th>495</th>
      <td>Ramsdale</td>
      <td>Sheffield Utd</td>
      <td>Goalkeeper</td>
      <td>16.956522</td>
      <td>75.091797</td>
      <td>4.6</td>
      <td>14.0</td>
      <td>3.7</td>
    </tr>
    <tr>
      <th>208</th>
      <td>Pickford</td>
      <td>Everton</td>
      <td>Goalkeeper</td>
      <td>15.833333</td>
      <td>75.263678</td>
      <td>4.8</td>
      <td>15.0</td>
      <td>3.7</td>
    </tr>
    <tr>
      <th>406</th>
      <td>de Gea</td>
      <td>Man Utd</td>
      <td>Goalkeeper</td>
      <td>16.415094</td>
      <td>87.056377</td>
      <td>5.3</td>
      <td>16.0</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>511</th>
      <td>McCarthy</td>
      <td>Southampton</td>
      <td>Goalkeeper</td>
      <td>18.000000</td>
      <td>78.393528</td>
      <td>4.5</td>
      <td>17.0</td>
      <td>0.7</td>
    </tr>
    <tr>
      <th>447</th>
      <td>Darlow</td>
      <td>Newcastle</td>
      <td>Goalkeeper</td>
      <td>16.000000</td>
      <td>80.865939</td>
      <td>5.0</td>
      <td>18.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Sánchez</td>
      <td>Brighton</td>
      <td>Goalkeeper</td>
      <td>13.777778</td>
      <td>59.674777</td>
      <td>4.5</td>
      <td>19.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>347</th>
      <td>Ramses Becker</td>
      <td>Liverpool</td>
      <td>Goalkeeper</td>
      <td>13.220339</td>
      <td>82.730360</td>
      <td>5.9</td>
      <td>20.0</td>
      <td>1.2</td>
    </tr>
  </tbody>
</table>