<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>form</th>
      <th>value</th>
      <th>now_cost</th>
      <th>predicted_value</th>
      <th>projection</th>
      <th>Z Score</th>
      <th>total_rank</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Lloris</th>
      <td>Spurs</td>
      <td>Goalkeeper</td>
      <td>10.0</td>
      <td>1.818182</td>
      <td>5.5</td>
      <td>1.670072</td>
      <td>9.185397</td>
      <td>17.162273</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>Schmeichel</th>
      <td>Leicester</td>
      <td>Goalkeeper</td>
      <td>9.0</td>
      <td>1.800000</td>
      <td>5.0</td>
      <td>1.586244</td>
      <td>7.931220</td>
      <td>15.590363</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>Raya</th>
      <td>Brentford</td>
      <td>Goalkeeper</td>
      <td>8.0</td>
      <td>1.777778</td>
      <td>4.5</td>
      <td>1.617225</td>
      <td>7.277514</td>
      <td>14.518706</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>Alisson</th>
      <td>Liverpool</td>
      <td>Goalkeeper</td>
      <td>7.0</td>
      <td>1.166667</td>
      <td>6.0</td>
      <td>1.217406</td>
      <td>7.304436</td>
      <td>11.534917</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>Woodman</th>
      <td>Newcastle</td>
      <td>Goalkeeper</td>
      <td>6.0</td>
      <td>1.333333</td>
      <td>4.5</td>
      <td>1.369333</td>
      <td>6.162000</td>
      <td>10.843582</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Mendy</th>
      <td>Chelsea</td>
      <td>Goalkeeper</td>
      <td>6.0</td>
      <td>1.000000</td>
      <td>6.0</td>
      <td>1.136879</td>
      <td>6.821273</td>
      <td>9.997345</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>Sá</th>
      <td>Wolves</td>
      <td>Goalkeeper</td>
      <td>3.0</td>
      <td>0.600000</td>
      <td>5.0</td>
      <td>0.587136</td>
      <td>2.935678</td>
      <td>3.709852</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>McCarthy</th>
      <td>Southampton</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.444444</td>
      <td>4.5</td>
      <td>0.441414</td>
      <td>1.986364</td>
      <td>1.817765</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>Krul</th>
      <td>Norwich</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.444444</td>
      <td>4.5</td>
      <td>0.440000</td>
      <td>1.980000</td>
      <td>1.812281</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>Guaita</th>
      <td>Crystal Palace</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.444444</td>
      <td>4.5</td>
      <td>0.415915</td>
      <td>1.871619</td>
      <td>1.718895</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>de Gea</th>
      <td>Man Utd</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.400000</td>
      <td>5.0</td>
      <td>0.410945</td>
      <td>2.054723</td>
      <td>1.688094</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>Sánchez</th>
      <td>Brighton</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.444444</td>
      <td>4.5</td>
      <td>0.392882</td>
      <td>1.767971</td>
      <td>1.629587</td>
      <td>12.0</td>
    </tr>
    <tr>
      <th>Pickford</th>
      <td>Everton</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.400000</td>
      <td>5.0</td>
      <td>0.394395</td>
      <td>1.971977</td>
      <td>1.616795</td>
      <td>13.0</td>
    </tr>
    <tr>
      <th>Martínez</th>
      <td>Aston Villa</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.363636</td>
      <td>5.5</td>
      <td>0.386200</td>
      <td>2.124103</td>
      <td>1.593587</td>
      <td>14.0</td>
    </tr>
    <tr>
      <th>Pope</th>
      <td>Burnley</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.363636</td>
      <td>5.5</td>
      <td>0.382263</td>
      <td>2.102444</td>
      <td>1.574925</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>Ederson</th>
      <td>Man City</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>0.333333</td>
      <td>6.0</td>
      <td>0.350872</td>
      <td>2.105230</td>
      <td>1.448753</td>
      <td>16.0</td>
    </tr>
    <tr>
      <th>Bachmann</th>
      <td>Watford</td>
      <td>Goalkeeper</td>
      <td>1.0</td>
      <td>0.222222</td>
      <td>4.5</td>
      <td>0.218855</td>
      <td>0.984846</td>
      <td>-0.402163</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>Leno</th>
      <td>Arsenal</td>
      <td>Goalkeeper</td>
      <td>1.0</td>
      <td>0.200000</td>
      <td>5.0</td>
      <td>0.209778</td>
      <td>1.048889</td>
      <td>-0.441267</td>
      <td>18.0</td>
    </tr>
    <tr>
      <th>Fabianski</th>
      <td>West Ham</td>
      <td>Goalkeeper</td>
      <td>1.0</td>
      <td>0.200000</td>
      <td>5.0</td>
      <td>0.207556</td>
      <td>1.037778</td>
      <td>-0.450841</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>Meslier</th>
      <td>Leeds</td>
      <td>Goalkeeper</td>
      <td>1.0</td>
      <td>0.200000</td>
      <td>5.0</td>
      <td>0.201345</td>
      <td>1.006724</td>
      <td>-0.477599</td>
      <td>20.0</td>
    </tr>
  </tbody>
</table>