<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>form</th>
      <th>value</th>
      <th>now_cost</th>
      <th>predicted_value</th>
      <th>projection</th>
      <th>Z Score</th>
      <th>total_rank</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Martínez</th>
      <td>Aston Villa</td>
      <td>Goalkeeper</td>
      <td>3.1</td>
      <td>33.888889</td>
      <td>5.4</td>
      <td>31.656489</td>
      <td>170.945038</td>
      <td>11.421903</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>Meslier</th>
      <td>Leeds</td>
      <td>Goalkeeper</td>
      <td>3.6</td>
      <td>32.083333</td>
      <td>4.8</td>
      <td>30.655854</td>
      <td>147.148100</td>
      <td>10.540929</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>Alisson</th>
      <td>Liverpool</td>
      <td>Goalkeeper</td>
      <td>6.2</td>
      <td>22.372881</td>
      <td>5.9</td>
      <td>22.768531</td>
      <td>134.334336</td>
      <td>9.975427</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>Lloris</th>
      <td>Spurs</td>
      <td>Goalkeeper</td>
      <td>4.2</td>
      <td>26.250000</td>
      <td>5.6</td>
      <td>26.754662</td>
      <td>149.826105</td>
      <td>9.951225</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>Johnstone</th>
      <td>West Brom</td>
      <td>Goalkeeper</td>
      <td>3.5</td>
      <td>29.782609</td>
      <td>4.6</td>
      <td>29.626176</td>
      <td>136.280411</td>
      <td>9.649406</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Ramsdale</th>
      <td>Sheffield Utd</td>
      <td>Goalkeeper</td>
      <td>5.4</td>
      <td>24.782609</td>
      <td>4.6</td>
      <td>27.628561</td>
      <td>127.091380</td>
      <td>9.631297</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>Mendy</th>
      <td>Chelsea</td>
      <td>Goalkeeper</td>
      <td>4.0</td>
      <td>26.730769</td>
      <td>5.2</td>
      <td>23.446205</td>
      <td>121.920265</td>
      <td>8.883986</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>Pope</th>
      <td>Burnley</td>
      <td>Goalkeeper</td>
      <td>2.8</td>
      <td>26.181818</td>
      <td>5.5</td>
      <td>25.727919</td>
      <td>141.503556</td>
      <td>8.714214</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>Pickford</th>
      <td>Everton</td>
      <td>Goalkeeper</td>
      <td>5.3</td>
      <td>23.333333</td>
      <td>4.8</td>
      <td>22.574328</td>
      <td>108.356773</td>
      <td>8.608671</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>Ederson</th>
      <td>Man City</td>
      <td>Goalkeeper</td>
      <td>2.6</td>
      <td>24.262295</td>
      <td>6.1</td>
      <td>23.610658</td>
      <td>144.025011</td>
      <td>8.319639</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>Areola</th>
      <td>Fulham</td>
      <td>Goalkeeper</td>
      <td>2.2</td>
      <td>27.555556</td>
      <td>4.5</td>
      <td>26.344352</td>
      <td>118.549584</td>
      <td>7.732025</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>Leno</th>
      <td>Arsenal</td>
      <td>Goalkeeper</td>
      <td>2.8</td>
      <td>24.800000</td>
      <td>5.0</td>
      <td>24.270952</td>
      <td>121.354759</td>
      <td>7.717761</td>
      <td>12.0</td>
    </tr>
    <tr>
      <th>Schmeichel</th>
      <td>Leicester</td>
      <td>Goalkeeper</td>
      <td>2.3</td>
      <td>24.074074</td>
      <td>5.4</td>
      <td>24.750533</td>
      <td>133.652876</td>
      <td>7.706849</td>
      <td>13.0</td>
    </tr>
    <tr>
      <th>Patrício</th>
      <td>Wolves</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>24.716981</td>
      <td>5.3</td>
      <td>25.197287</td>
      <td>133.545623</td>
      <td>7.625286</td>
      <td>14.0</td>
    </tr>
    <tr>
      <th>Guaita</th>
      <td>Crystal Palace</td>
      <td>Goalkeeper</td>
      <td>2.0</td>
      <td>25.416667</td>
      <td>4.8</td>
      <td>25.759793</td>
      <td>123.647008</td>
      <td>7.391401</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>Fabianski</th>
      <td>West Ham</td>
      <td>Goalkeeper</td>
      <td>1.8</td>
      <td>24.800000</td>
      <td>5.0</td>
      <td>24.917863</td>
      <td>124.589316</td>
      <td>7.180426</td>
      <td>16.0</td>
    </tr>
    <tr>
      <th>Sánchez</th>
      <td>Brighton</td>
      <td>Goalkeeper</td>
      <td>3.3</td>
      <td>22.000000</td>
      <td>4.5</td>
      <td>21.735886</td>
      <td>97.811488</td>
      <td>6.661687</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>McCarthy</th>
      <td>Southampton</td>
      <td>Goalkeeper</td>
      <td>1.7</td>
      <td>20.909091</td>
      <td>4.4</td>
      <td>21.023855</td>
      <td>92.504960</td>
      <td>5.214579</td>
      <td>18.0</td>
    </tr>
    <tr>
      <th>de Gea</th>
      <td>Man Utd</td>
      <td>Goalkeeper</td>
      <td>0.8</td>
      <td>17.169811</td>
      <td>5.3</td>
      <td>17.697506</td>
      <td>93.796784</td>
      <td>3.978049</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>Darlow</th>
      <td>Newcastle</td>
      <td>Goalkeeper</td>
      <td>0.0</td>
      <td>16.326531</td>
      <td>4.9</td>
      <td>16.732465</td>
      <td>81.989076</td>
      <td>2.862961</td>
      <td>20.0</td>
    </tr>
  </tbody>
</table>