<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>form</th>
      <th>value</th>
      <th>now_cost</th>
      <th>predicted_value</th>
      <th>projection</th>
      <th>Z Score</th>
      <th>total_rank</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Salah</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>17.0</td>
      <td>1.360000</td>
      <td>12.5</td>
      <td>2.312242</td>
      <td>28.903030</td>
      <td>26.387176</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>Fernandes</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>20.0</td>
      <td>1.666667</td>
      <td>12.0</td>
      <td>1.935636</td>
      <td>23.227636</td>
      <td>25.493928</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>Pogba</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>16.0</td>
      <td>2.133333</td>
      <td>7.5</td>
      <td>2.158343</td>
      <td>16.187576</td>
      <td>22.151332</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>Benrahma</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>12.0</td>
      <td>2.000000</td>
      <td>6.0</td>
      <td>1.880778</td>
      <td>11.284667</td>
      <td>17.229475</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>Canós</th>
      <td>Brentford</td>
      <td>Midfielder</td>
      <td>11.0</td>
      <td>2.000000</td>
      <td>5.5</td>
      <td>1.891354</td>
      <td>10.402444</td>
      <td>16.361876</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>Son</th>
      <td>Spurs</td>
      <td>Midfielder</td>
      <td>10.0</td>
      <td>1.000000</td>
      <td>10.0</td>
      <td>1.221458</td>
      <td>12.214577</td>
      <td>12.345792</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>Mac Allister</th>
      <td>Brighton</td>
      <td>Midfielder</td>
      <td>9.0</td>
      <td>1.636364</td>
      <td>5.5</td>
      <td>1.368619</td>
      <td>7.527406</td>
      <td>12.237568</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>Sarr</th>
      <td>Watford</td>
      <td>Midfielder</td>
      <td>9.0</td>
      <td>1.500000</td>
      <td>6.0</td>
      <td>1.402558</td>
      <td>8.415348</td>
      <td>12.118055</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>Soucek</th>
      <td>West Ham</td>
      <td>Midfielder</td>
      <td>8.0</td>
      <td>1.333333</td>
      <td>6.0</td>
      <td>1.377237</td>
      <td>8.263424</td>
      <td>10.893104</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>Nørgaard</th>
      <td>Brentford</td>
      <td>Midfielder</td>
      <td>8.0</td>
      <td>1.600000</td>
      <td>5.0</td>
      <td>1.214113</td>
      <td>6.070564</td>
      <td>10.855141</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>Doucouré</th>
      <td>Everton</td>
      <td>Midfielder</td>
      <td>8.0</td>
      <td>1.454545</td>
      <td>5.5</td>
      <td>1.278363</td>
      <td>7.030999</td>
      <td>10.735574</td>
      <td>11.0</td>
    </tr>
    <tr>
      <th>Murphy</th>
      <td>Newcastle</td>
      <td>Midfielder</td>
      <td>7.0</td>
      <td>1.400000</td>
      <td>5.0</td>
      <td>1.327688</td>
      <td>6.638440</td>
      <td>9.900218</td>
      <td>12.0</td>
    </tr>
    <tr>
      <th>Pulisic</th>
      <td>Chelsea</td>
      <td>Midfielder</td>
      <td>8.0</td>
      <td>1.000000</td>
      <td>8.0</td>
      <td>1.131687</td>
      <td>9.053495</td>
      <td>9.779298</td>
      <td>13.0</td>
    </tr>
    <tr>
      <th>Greenwood</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>8.0</td>
      <td>1.066667</td>
      <td>7.5</td>
      <td>1.130016</td>
      <td>8.475118</td>
      <td>9.751855</td>
      <td>14.0</td>
    </tr>
    <tr>
      <th>Jota</th>
      <td>Liverpool</td>
      <td>Midfielder</td>
      <td>8.0</td>
      <td>1.066667</td>
      <td>7.5</td>
      <td>1.105418</td>
      <td>8.290631</td>
      <td>9.642046</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>Fred</th>
      <td>Man Utd</td>
      <td>Midfielder</td>
      <td>7.0</td>
      <td>1.400000</td>
      <td>5.0</td>
      <td>1.232339</td>
      <td>6.161694</td>
      <td>9.616453</td>
      <td>16.0</td>
    </tr>
    <tr>
      <th>Westwood</th>
      <td>Burnley</td>
      <td>Midfielder</td>
      <td>7.0</td>
      <td>1.272727</td>
      <td>5.5</td>
      <td>1.206610</td>
      <td>6.636354</td>
      <td>9.294151</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>McGinn</th>
      <td>Aston Villa</td>
      <td>Midfielder</td>
      <td>7.0</td>
      <td>1.166667</td>
      <td>6.0</td>
      <td>1.146086</td>
      <td>6.876517</td>
      <td>8.933078</td>
      <td>18.0</td>
    </tr>
    <tr>
      <th>Kovacic</th>
      <td>Chelsea</td>
      <td>Midfielder</td>
      <td>6.0</td>
      <td>1.200000</td>
      <td>5.0</td>
      <td>1.080497</td>
      <td>5.402483</td>
      <td>7.871632</td>
      <td>19.0</td>
    </tr>
    <tr>
      <th>Groß</th>
      <td>Brighton</td>
      <td>Midfielder</td>
      <td>6.0</td>
      <td>1.000000</td>
      <td>6.0</td>
      <td>1.072295</td>
      <td>6.433770</td>
      <td>7.535027</td>
      <td>20.0</td>
    </tr>
  </tbody>
</table>